body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #5f9341;
    border-radius: 4px; 
    margin-bottom: 4px;
}

button {
    height: 41px;
    color: white;
    background-color: #5f9341;
    border: 1px solid #5f9341;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
}

button:active {
    background-color: #48742fb9;    
} 

#all-btns {
    margin: 0;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}

#delete-btn {
    background-color: white;
    color: #5f9341;
    border: 1px solid #5f9341;
}

#delete-btn:active {
    background-color: rgba(124, 124, 124, 0.37);
    color: #5f9341;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    color: #5f9341;
    font-weight: bold;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}